
h1 {
  color: #e3e6e8;
}

.card-header {
  backgournd-color: #4c5154;
}

.container {
  background-color: #000;
}

body {
  background-color: #a5bac6;
}

label {
  color: #c0ede4;
}

center {
  color: #cbdbd4;
}
#result {
  background-color: #3f5149;
}
